body {
  background-color: #34495e;
}
.badge {
  background-color: red;
  margin-left: 4px;
}

.glyphicon {
  margin-right: 4px;
}

.App .navbar {
  border-radius: 0;
  background-color: #2980b9;
}
.App .navbar .navbar-brand {
  color: #fff;
}
.App .navbar ul li a {
  color: #fff !important;
}

.App-logo {
  /* height: 40vmin;
  pointer-events: none; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
